In [38]:
import pandas as pd
import psycopg2
import pymysql
from sqlalchemy import create_engine

In [3]:
a=pd.read_csv('https://cdn.buenosaires.gob.ar/datosabiertos/datasets/ente-de-turismo/oferta-establecimientos-gastronomicos/oferta_gastronomica.csv')

In [39]:
conexion = pymysql.connect(
    host='localhost',                      # Servidor donde esta alojada mi base de datos
    database='henry',                  # Nombre de la base de datos
    user='root',                      # Usuario con el cual me voy a conectar
    password='root1234'                   # Contraseña del usuario
)

cursor = conexion.cursor()

In [40]:
cursor.execute('use henry;')

0

In [45]:
conexion.close()

Error: Already closed

In [43]:
cursor.execute('CREATE TABLE oferta (longitud FLOAT, latitud FLOAT, id INT, nombre varchar(50), categoria varchar(25), cocina varchar(25), ambientacion varchar(25), telefono int, mail varchar(100), horario varchar(50), calle_nombre varchar(50), calle_altura int, calle_cruce varchar(50), direccion_completa varchar(200), barrio varchar(50), comuna varchar(25), codigo_postal int, codigo_postal_argentino varchar(20));')

0

In [46]:
my_con = create_engine('mysql+pymysql://root:root1234@localhost:3306/henry')
if my_con:
    print('Conexion exitosa!')

Conexion exitosa!

In [68]:
a2.to_sql(con=my_con,if_exists='replace',name='oferta',index=False)

2823

In [62]:
a.columns

Index(['long', 'lat', 'id', 'nombre', 'categoria', 'cocina', 'ambientacion',
       'telefono', 'mail', 'horario', 'calle_nombre', 'calle_altura',
       'calle_cruce', 'direccion_completa', 'barrio', 'comuna',
       'codigo_postal', 'codigo_postal_argentino'],
      dtype='object')

In [63]:
a2=a[['id','nombre','categoria','direccion_completa','barrio','comuna']].copy()

In [66]:
a2.rename(columns={'id':'id_local', 'direccion_completa':'direccion'},inplace=True)

In [67]:
a2

,id_local,nombre,categoria,direccion,barrio,comuna
0,1602,GUANTANAMERA,RESTAURANTE,"MOREAU DE JUSTO, ALICIA AV. 2092",Puerto Madero,Comuna 1
1,676,1843 VINACOTECA,VINERIA,HUMBERTO 1º 1843,San Cristobal,Comuna 3
2,487,2080 EXPRESS,RESTAURANTE,JURAMENTO AV. 2080,Belgrano,Comuna 13
3,2737,22,CAFE,MURGUIONDO 4188,Villa Lugano,Comuna 8
4,2,4 EN 2 I,RESTAURANTE,"BORGES, JORGE LUIS 2095",Palermo,Comuna 14
...,...,...,...,...,...,...
2818,893,ZOE PIZZA & CAFE,RESTAURANTE,AZCUENAGA 796,Balvanera,Comuna 3
2819,2546,ZOMBI,RESTAURANTE,URUGUAY 142,San Nicolas,Comuna 1
2820,1521,ZONA,RESTAURANTE,11 DE SEPTIEMBRE DE 1888 3900,NuÃƒÂ±ez,Comuna 13
2821,894,ZOO BAR,RESTAURANTE,TUCUMAN 2002,Balvanera,Comuna 3
2822,2854,Angelito,BAR,NaN,Villa Crespo,Comuna 15

In [ ]:
'''A partir de tener los datos disponibles, responder a las siguientes preguntas:'''
'''a) ¿Cuál es el barrio con mayor cantidad de Pubs? '''
'''R=recolecta con 8 pubs'''
'''b) Obtener la cantidad de locales por categoría '''
'''R= RESTAURANTE	1990
    CAFE	    334
    BAR	        247
    CONFITERIA	55
    PUB	        53
    VINERIA	    22
    SANDWICHERIA 4
    DELIVERY & TAKE AWAY  2'''
'''c) Obtener la cantidad de restaurantes por comuna
    Comuna 1	870
    Comuna 14	467
    Comuna 2	327
    Comuna 3	224
    Comuna 4	142
    Comuna 13	140
    Comuna 6	125
    Comuna 7	100
    Comuna 15	87
    Comuna 5	77
    Comuna 12	70
    Comuna 9	68
    Comuna 10	58
    Comuna 11	50
    Comuna 8	18'''