# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [53]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [2]:
print(hash_function('pato'))
print(hash_function('tapo'))

1807
1799

In [3]:
import pandas as pd

In [69]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',',thousands='.',encoding='latin-1')
df.head()

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas)
0,ABW,Aruba,América Latina y Caribe,1960,NaN,NaN
1,ABW,Aruba,América Latina y Caribe,1961,NaN,NaN
2,ABW,Aruba,América Latina y Caribe,1962,NaN,NaN
3,ABW,Aruba,América Latina y Caribe,1963,NaN,NaN
4,ABW,Aruba,América Latina y Caribe,1964,NaN,NaN

In [70]:
df.dropna(inplace=True)

df['Clave_Hash']=df['Código de país']

In [71]:
df['Clave_Hash']=df['Código de país'].apply(hash_function)

In [72]:
df['Clave_Hash']

26       910
27       910
28       910
29       910
30       910
        ...
11122    951
11123    951
11124    951
11125    951
11126    951
Name: Clave_Hash, Length: 9029, dtype: int64

In [116]:
df.reset_index(drop=True, inplace=True)

In [117]:
df

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_Hash
0,ABW,Aruba,América Latina y Caribe,1986,179.683,2.868319,910
1,ABW,Aruba,América Latina y Caribe,1987,447.374,7.234964,910
2,ABW,Aruba,América Latina y Caribe,1988,612.389,10.026508,910
3,ABW,Aruba,América Latina y Caribe,1989,649.059,10.634733,910
4,ABW,Aruba,América Latina y Caribe,1990,1840.830,29.620165,910
...,...,...,...,...,...,...,...
9024,ZWE,Zimbabue,África subsahariana,2007,9732.220,0.731867,951
9025,ZWE,Zimbabue,África subsahariana,2008,7682.370,0.569255,951
9026,ZWE,Zimbabue,África subsahariana,2009,8239.750,0.600521,951
9027,ZWE,Zimbabue,África subsahariana,2010,9028.150,0.646073,951
9028,ZWE,Zimbabue,África subsahariana,2011,9860.560,0.691698,951

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [96]:
df2=df.copy()

In [123]:
df2.drop_duplicates(subset=tu, inplace=True)

In [124]:
df2.head(9)

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,179.683,2.868319,910
87,AND,Andorra,Europa y Asia Central,1995,407.037,6.374495,870
104,AFG,Afganistán,Sur de Asia,1960,414.371,0.046068,858
156,AGO,Angola,África subsahariana,1960,550.050,0.104357,893
208,ALB,Albania,Europa y Asia Central,1960,2024.180,1.258195,856
260,ARE,Emiratos Árabes Unidos,Oriente Medio y Norte de África,1960,11.001,0.118786,886
312,ARG,Argentina,América Latina y Caribe,1960,48815.100,2.367473,894
396,ARM,Armenia,Europa y Asia Central,1992,4052.040,1.174674,918
468,ATG,Antigua y Barbuda,América Latina y Caribe,1960,36.670,0.670617,900

In [135]:
tu=["Clave_Hash", "Código de país" , "Nombre del país" , "Región"]

In [136]:
tu2=['Año', 'CO2 (kt)',
       'CO2 per cápita (toneladas métricas)']

In [137]:
df3=pd.DataFrame(df[tu2])

In [138]:
df3

       Año  CO2 (kt)  CO2 per cápita (toneladas métricas)
0     1986   179.683                             2.868319
1     1987   447.374                             7.234964
2     1988   612.389                            10.026508
3     1989   649.059                            10.634733
4     1990  1840.830                            29.620165
...    ...       ...                                  ...
9024  2007  9732.220                             0.731867
9025  2008  7682.370                             0.569255
9026  2009  8239.750                             0.600521
9027  2010  9028.150                             0.646073
9028  2011  9860.560                             0.691698

[9029 rows x 3 columns]

In [153]:
df4=pd.DataFrame()

TypeError: 'StringMethods' object is not callable

In [158]:
df5

0          Aruba
1          Aruba
2          Aruba
3          Aruba
4          Aruba
          ...
9024    Zimbabue
9025    Zimbabue
9026    Zimbabue
9027    Zimbabue
9028    Zimbabue
Name: Nombre del país, Length: 9029, dtype: object

In [ ]:
]